.section{
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and(min-width:768px) {
    .section{
        padding-bottom: 100px;
    }
}

@media screen and(min-width:1200px) {
    .section {
        padding-top: 100px;
    }
}