.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primery-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 100px;
  }
}
:root {
  --primary-accent-color: #BBF330;
  --secondary-accent-color: #7EB101;
  --accent-color: #FFE550;
  --shadow-fruit: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
  --primery-white-color: #FEFEFE;
  --secondary-white-color: #FFFFFF;
  --primary-text-color: #2C2C2C;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  border: none;
}

.order-btn {
  background-color: var(--primary-accent-color);
  padding: 6px 18px;
}

.offerings-btn {
  background: var(--secondary-white-color);
  border: 2px solid #7EB101;
  padding: 8px 20px;
}

.subscribe-btn {
  background: var(--primary-accent-color);
  padding: 11px 22px;
}

.subscribe-footer-btn {
  background-color: var(--primery-white-color);
  border: 0.854167px solid var(--secondary-accent-color);
  padding: 10px 21px;
}

.section__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-transform: capitalize;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 42px;
    line-height: 1.16;
  }
}
.section__description {
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .section__description {
    font-size: 16px;
    line-height: 1.18;
  }
}
.favorites__text {
  width: 280px;
  margin-bottom: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.favorites__title {
  color: var(--primary-text-color);
  margin-bottom: 20px;
}

.favorites__desscription {
  font-weight: 400;
  color: var(--primary-text-color);
}

.favorites-dish {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.favorites-dish__img {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 11px solid var(--accent-color);
  padding: 18px 17px;
}

.favorites-dish__img-pictur {
  display: flex;
  border-radius: 50%;
  width: 223px;
  height: 223px;
}

.nomobil {
  display: none;
}

@media screen and (min-width: 768px) {
  .favorites-dish {
    gap: 32px;
  }
  .favorites__text {
    width: 656px;
    margin-bottom: 40px;
  }
  .favorites-dish__img {
    border: 14px solid var(--accent-color);
    padding: 21px 20px;
  }
  .favorites-dish__img-pictur {
    width: 268px;
    height: 268px;
  }
  .nomobil {
    display: flex;
  }
}
@media screen and (min-width: 1279px) {
  .favorites-dish__img {
    border: 16px solid var(--accent-color);
    padding: 25px 24px;
  }
  .favorites-dish__img-pictur {
    width: 315px;
    height: 315px;
  }
}/*# sourceMappingURL=index.css.map */