:root {
  --primary-accent-color: #bbf330;
  --secondary-accent-color: #7eb101;
  --accent-color: #ffe550;
  --shadow-fruit: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
  --primary-white-color: #fefefe;
  --secondary-white-color: #ffffff;
  --primary-text-color: #2c2c2c;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
