<div class="container backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal__close-btn-icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-caption">Order Form</p>
        <form class="modal-form">
            <label class="modal-form__field">
                <span class="modal-form__desk">Name</span>
            </label>
                <input type="text" name="user_name" placeholder="Your name" class="modal-form__input"
                    pattern="[a-zA-Z]+" minlength="3" maxlength="25">
                    <div class="modal-form__dangerous">
                         <svg class="modal-form__dangerous-icon" width="11.14" height="11.14">
                             <use href="./images/sprite.svg#icon-dangerous"></use>
                         </svg>
                         <p class="modal-form__dangerous-description">The name must be between 3 and 25 characters</p>
                    </div>
            
            <label class="modal-form__field">
                <span class="modal-form__desk">Phone number</span>
                <input type="tel" name="user_phone_number" placeholder="+38(0_ _) _ _ _   _ _   _ _" class="modal-form__input" pattern="[0-9]{3}[0-9]{3}[0-9]{2}[0-9]{2}" >
            </label>
            <label class="modal-form__field">
                <span class="modal-form__desk">E-mail</span>
                <input type="email" name="user_email" placeholder="example@gmail.com" class="modal-form__input"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address">
            </label>
            <button type="submit" class="modal-form-btn">Send</button>
        </form>
    </div>
    
</div>


