<section class="customers section">
  <div class="container">
    <h2 class="section__title">What our Customers Say</h2>
    <p class="section__description customers__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="reviews-list list">
      <li class="reviews-list__item">
        <div class="stars">
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="reviews-list__description">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="user">
          <img
            class="user__photo"
            srcset="./images/user-1.jpg 1x, ./images/user@2x-1.jpg 2x"
            src="./images/user-1.jpg"
            alt="Відвідувач"
            width="48px"
          />
          <div class="user__wrapper">
            <h3 class="user__title">Sumith Shah</h3>
            <p class="user__description">Some Dude</p>
          </div>
        </div>
      </li>

      <li class="reviews-list__item">
        <div class="stars">
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="stars__icon" width="17" height="16">
            <use href="./images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="reviews-list__description">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>
        <div class="user">
          <img
            class="user__photo"
            srcset="./images/user-2.jpg 1x, ./images/user@2x-2.jpg 2x"
            src="./images/user-2.jpg"
            alt="Відвідувач"
            width="48px"
          />
          <div class="user__wrapper">
            <h3 class="user__title">Sumith Shah</h3>
            <p class="user__description">Some Dude</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
