<section class="favorites section" id="menu">
<div class="container">
    <div class="favorites__text">
        <h2 class="section__title favorites__title">Some of Our Favorites</h2>
        <p class="section__description favorites__desscription">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <ul class="favorites-dish list">
        <li class="favorites-dish__img">
            <!-- <img -->
            <picture>
                <source
                 srcset="./images/favoritas_img/gamburger_desctop1.jpg 1x, ./images/favoritas_img/gamburger_desctop1@2x.jpg 2x" 
                 media="(min-width: 1280px)" 
                 /> 
                 <source
                 srcset="./images/favoritas_img/gamburger_tablet1.jpg 1x, ./images/favoritas_img/gamburger_tablet1@2x.jpg 2x" 
                 media="(min-width: 768px)" 
                 />  
                 <source
                 srcset="./images/favoritas_img/gamburger_mobile1.jpg 1x, ./images/favoritas_img/gamburger_mobile1@2x.jpg 2x" 
                 media="(max-width: 767px)"
                 />                
                 
                <img src="./images/favoritas_img/gamburger_mobile1.jpg"
                alt="gamburger" class="favorites-dish__img-pictur"> 
            </picture>           

        </li>
        <li class="favorites-dish__img">
            <!-- <img -->
            <picture>
                <source
                 srcset="./images/favoritas_img/pasta_desctop2.jpg 1x, ./images/favoritas_img/pasta_desctop2@2x.jpg 2x" 
                 media="(min-width: 1280px)" 
                 /> 
                 <source
                 srcset="./images/favoritas_img/pasta_tablet2.jpg 1x, ./images/favoritas_img/pasta_tablet2@2x.jpg 2x" 
                 media="(min-width: 768px)" 
                 />  
                 <source
                 srcset="./images/favoritas_img/pasta_mobil2.jpg 1x, ./images/favoritas_img/pasta_mobil2@2x.jpg 2x" 
                 media="(max-width: 767px)"
                 />                

                <img src="./images/favoritas_img/pasta_mobil2.jpg"
                alt="Pasta" class="favorites-dish__img-pictur">
            </picture>            

        </li>
        <li class="favorites-dish__img">
        <!-- <img -->
        <picture>
            <source
             srcset="./images/favoritas_img/pizza_desctop3.jpg 1x, ./images/favoritas_img/pizza_desctop3@2x.jpg 2x" 
             media="(min-width: 1280px)" 
             /> 
             <source
             srcset="./images/favoritas_img/pizza_tablet3.jpg 1x, ./images/favoritas_img/pizza_tablet3@2x.jpg 2x" 
             media="(min-width: 768px)" 
             />  
             <source
             srcset="./images/favoritas_img/pizza_mobil3.jpg 1x, ./images/favoritas_img/pizza_mobil3@2x.jpg 2x" 
             media="(max-width: 767px)" 
             />                
            <img src="./images/favoritas_img/pizza_mobil3.jpg"
            alt="pizza" class="favorites-dish__img-pictur"> 
            </picture>      

        </li>
        <li class="favorites-dish__img nomobil">
            <!-- <img -->
            <picture>
                <source
                 srcset="./images/favoritas_img/chicken_desctop4.jpg 1x, ./images/favoritas_img/chicken_desctop4@2x.jpg 2x" 
                 media="(min-width: 1280px)" 
                 /> 
                 <source
                 srcset="./images/favoritas_img/chicken_tablet4.jpg 1x, ./images/favoritas_img/chicken_tablet4@2x.jpg 2x" 
                 media="(min-width: 768px)" 
                 />  
                             
                <img src="./images/favoritas_img/chicken_tablet4.jpg"
                alt="chicken" class="favorites-dish__img-pictur">
            </picture>            

        </li>
        <li class="favorites-dish__img nomobil">
            <!-- <img -->
            <picture>
                <source
                 srcset="./images/favoritas_img/salat_desctop5.jpg 1x, ./images/favoritas_img/salat_desctop5@2x.jpg 2x" 
                 media="(min-width: 1280px)" 
                 /> 
                 <source
                 srcset="./images/favoritas_img/salat_tablet5.jpg 1x, ./images/favoritas_img/salat_tablet5@2x.jpg 2x" 
                 media="(min-width: 768px)" 
                 />  
                     
                <img src="./images/favoritas_img/salat_tablet5.jpg"
                alt="salat" class="favorites-dish__img-pictur">
            </picture>            

        </li>
        <li class="favorites-dish__img nomobil">
            <!-- <img -->
            <picture>
                <source
                 srcset="./images/favoritas_img/borshch_desctop6.jpg 1x, ./images/favoritas_img/borshch_desctop6@2x.jpg 2x" 
                 media="(min-width: 1280px)" 
                 /> 
                 <source
                 srcset="./images/favoritas_img/borshch_tablet6.jpg 1x, ./images/favoritas_img/borshch_tablet6@2x.jpg 2x" 
                 media="(min-width: 768px)" 
                 />  
                 
                <img src="./images/favoritas_img/borshch_tablet6.jpg"
                alt="borshch" class="favorites-dish__img-pictur"> 
            </picture>         

        </li>
    </ul>
</div>
</section>