<div class="container">
    <div class="favorites_text">
        <h2 class="favorites_hedline">Some of Our Favorites</h2>
        <p class="favorites_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <ul class="favorites_dish">
        <li class="favorites_dish_img">
            <!-- <img -->
                <img src="./images/favoritas_img/gamburger_desctop1.jpg"
                alt="gamburger" width="315">            

        </li>
        <li class="favorites_dish_img">
            <!-- <img -->
                <img src="./images/favoritas_img/pasta_desctop2.jpg"
                alt="Pasta" width="315">            

        </li>
        </li>
        <li class="favorites_dish_img">
        <!-- <img -->
            <img src="./images/favoritas_img/pizza_desctop3.jpg"
            alt="pizza" width="315">        

        </li>
        <li class="favorites_dish_img">
            <!-- <img -->
                <img src="./images/favoritas_img/chicken_desctop4.jpg"
                alt="chicken" width="315">
            

        </li>
        <li class="favorites_dish_img">
            <!-- <img -->
                <img src="./images/favoritas_img/salat_desctop5.jpg"
                alt="salat" width="315">            

        </li>
        <li class="favorites_dish_img">
            <!-- <img -->
                <img src="./images/favoritas_img/borshch_desctop6.jpg"
                alt="borshch" width="315">            

        </li>
    </ul>
</div>