<header class="page-header">
    <div class="container page-header__container">
        <nav class="menu">
            <a href="./index.html" class="logo">
                <svg class="logo__svg" width="66" height="52">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="site-nav list">
                <li class="site-nav__item"><a href="./index.html"
                class="site-nav__link  site-nav__link_current">Home</a></li>
                <li class="site-nav__item"><a href="#about" class="site-nav__link link">About</a></li>
                <li class="site-nav__item"><a href="#service" class="site-nav__link link">Service</a></li>
                <li class="site-nav__item"><a href="#menu" class="site-nav__link link">Menu</a></li>
                <li class="site-nav__item"><a href="#contact" class="site-nav__link link">Contact</a></li>
                </ul>
        </nav>
        <button type="button" class="button order-btn" data-modal-open>Order Now</button>
        <button type="button" class="mobile-menu-btn" data-menu-open>
            <svg class="mobile-menu-btn__icon" width="28" height="28">
                <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        <div class="mobile-menu" data-menu>
            <button type="button" class="mobile-menu__close-btn" data-menu-close>
                <svg class="mobile-menu__close-icon" width="24" height="24">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="site-nav-mobile list">
                <li class="site-nav-mobile__item"><a href="./index.html" class="site-nav-mobile__link link">Home</a>
                </li>
                <li class="site-nav-mobile__item"><a href="#about" class="site-nav-mobile__link link">About</a></li>
                <li class="site-nav-mobile__item"><a href="#service" class="site-nav-mobile__link link">Service</a></li>
                <li class="site-nav-mobile__item"><a href="#menu" class="site-nav-mobile__link link">Menu</a></li>
                <li class="site-nav-mobile__item"><a href="#contact" class="site-nav-mobile__link link">Contact</a></li>
            </ul>
    
        </div>
    </div> 
</header>

