<header>
    <nav class="menu">
        <a href="" class="logo">
            <svg class="logo__svg">
                <use href="../images/sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <ul class="site-nav">
            <li class="site-nav__item"><a href="" class="site-nav__link">Home</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">About</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">Service</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">Menu</a></li>
            <li class="site-nav__item"><a href="" class="site-nav__link">Contact</a></li>
        </ul>
    </nav>
    <button type="button" class="order-button">Order Now</button>
</header>