<section class="hero section">
    <div class="container">
    <div class="hero__galery">
        <div class="galery__photo-frame">
            <button type="button" class="hero__left-btn">
                <svg class="hero__btn-icon">
                    <use href="./images/sprite.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button type="button" class="hero__right-btn">
                <svg class="hero__btn-icon">
                    <use href="./images/sprite.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="hero__left-side">
        <h1 class="section__title hero__title">Enjoy Your Favorite Food From Anywhere</h1>
        <p class="section__description hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis
        cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <button type="button" class="button order-btn">Order Now</button>
    </div>
    </div>
</section>