<section class="hero section">
    <div class="container">
        <div class="hero__left-side">
            <h1 class="hero__title section__title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero__description section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            <button type="button" class="button order-btn" data-modal-open1>Order Now</button>
        </div>
        <div class="galery">
            <div class="galery__slider">
                <div class="galery__slider-line" slider-line>
                    <picture class="galery__photo">
                        <source
                            srcset="./images/hero/desk-hero-galery-1.png, ./images/hero/desk-hero-galery-1@2x.webp 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="./images/hero/tablet-hero-galery-1.png 1x, ./images/hero/tablet-hero-galery-1@2x.webp 2x"
                            media="(min-width: 768px)" />
                        <img src="./images/hero/desk-hero-galery-1.png" alt="Food">
                    </picture>
                    <picture class="galery__photo">
                        <source
                            srcset="./images/hero/desk-hero-galery-2.png, ./images/hero/desk-hero-galery-2@2x.webp 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="./images/hero/tablet-hero-galery-2.png 1x, ./images/hero/tablet-hero-galery-2@2x.webp 2x"
                            media="(min-width: 768px)" />
                        <img src="./images/hero/desk-hero-galery-2.png" alt="Food">
                    </picture>
                    <picture class="galery__photo">
                        <source
                            srcset="./images/hero/desk-hero-galery-3.png, ./images/hero/desk-hero-galery-3@2x.webp 2x"
                            media="(min-width: 1280px)" />
                        <source
                            srcset="./images/hero/tablet-hero-galery-3.png 1x, ./images/hero/tablet-hero-galery-3@2x.webp 2x"
                            media="(min-width: 768px)" />
                        <img src="./images/hero/desk-hero-galery-3.png" alt="Food">
                    </picture>
                </div>
                
            </div>
            <button type="button" class="hero__left-btn" scroll-left>
                <svg class="hero__btn-icon" height="20" width="11">
                    <use href="./images/sprite.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button type="button" class="hero__right-btn" scroll-right>
                <svg class="hero__btn-icon" height="20" width="11">
                    <use href="./images/sprite.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>

</section>