<section class="offerings">
  <div class="offerings__cotainer container">
    <h2 class="offerings__title">What’s Special About Our Offerings</h2>
    <p class="offerings__deskription">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings-list list">
      <li class="offerings-list__item">
        <svg class="offerings-list__icon">
          <use href="./images/sprite.svg#icon-rocket"></use>
          <h3 class="offerings-list__title">Fasest Delivery</h3>
          <p class="offerings-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </svg>
      </li>
      <li class="offerings-list__item">
        <svg class="offerings-list__icon">
          <use href="./images/sprite.svg#icon-touch"></use>
          <h3 class="offerings-list__title">Easy To Order</h3>
          <p class="offerings-list__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </svg>
      </li>
    </ul>
    <button type="button" class="offerings__btn">Order Now</button>
  </div>
</section>
