<section class="subscribe">
    <img src="./images/phone-subscribe-banana.png" alt="banana" width="161px" class="subscribe_banana-img">
    <h2 class="subscribe-_title">Subscribe To Get Special Offers</h2>
    <p class="subscribe__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
    <div class="sub">
        <form class="sub__form">
            <label class="sub__mail">
                <input type="mail" class="contact-form">
            </label>
       </form>
       <button type="submit"class="contact-form-btn">
        Subscribe
       </button>
    </div>
</section>