<section class="subscribe section">

    <div class="container container-subscribe">

        <div class="subscribe__banana">
            <picture>
                <source srcset="./images/desk-subscribe-banana.png 1x, ./images/desk-subscribe-banana@2x.png 2x" media="(min-width:1280px)" />
                <source srcset="./images/tablet-subscribe-banana.png 1x, ./images/tablet-subscribe-banana@2x.png 2x" media="(min-width:768px)" />
                <source srcset="./images/phone-subscribe-banana.png 1x, ./images/phone-subscribe-banana@2x.png 2x" media="(max-width:767px)" />
                <img src="./images/phone-subscribe-banana.png" alt="banana" class="subscribe__banana-img">
            </picture></div>
         
         <h2 class="subscribe__title section__title" >Subscribe To Get Special Offers</h2>
        
         <p class="subscribe__description section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
         
         
        <div class="sub">
            <form class="sub__form">
                <label class=" sub__label visually-hidden" for="user_email"> Subscribe </label>
                <div class="sub__wrapper">
                    <input type="email"  class="sub__mail" name="mail" id="user_email" placeholder="Enter your email"  required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    
                    <div class="sub-error">
                        <svg class="sub-error__svg" width="12px" height="12px">
                            <use href="./images/sprite.svg#icon-warning"></use>
                        </svg>
                        <p class="sub-error__text">Not a valid email address (example@email.com)</p>
                    </div>
                    
                    <button type="submit" class="subscribe-btn button">
                        Subscribe
                        </button>
                        
                </div>
            </form>
        </div>


  </div>
</section>
