.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(94, 99, 99, 0.7);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 100%;
  padding: 32px 20px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
}
.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  display: block;
  width: 32px;
  height: 32px;
  border: none;
  line-height: 0;
  padding: 0;
  background: var(--secondary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
}

.modal-caption {
  text-align: center;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
@media screen and (min-width: 320px) {
  .modal {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 458px;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 129px;
    left: 50%;
    transform: translateX(-50%);
  }
}
