.section__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-transform: capitalize;

    margin-bottom: 20px;
}

@media screen and(min-wigth: 768px) {
    .section__title{
        font-size: 42px;
        line-height: 1.16;
    }
}

