
.favorites__text {
    width: 280px;
    margin-bottom: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
    
}
.favorites__title {
    color: var(--primary-text-color);
    margin-bottom: 20px;
}

.favorites__desscription {
    font-weight: 400;
    color: var(--primary-text-color);
}
.favorites-dish {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
    
.favorites-dish__img {
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 11px solid var(--accent-color);
    padding: 18px 17px;
}

.favorites-dish__img-pictur {
    display: flex;
    border-radius: 50%;
    width: 223px;
    height: 223px;
        
}
    
.nomobil {
    display: none;
}

@media screen and(min-width: 768px) {
.favorites-dish {   
    gap: 32px;
}  

.favorites__text {
    width: 656px;
    margin-bottom: 40px;
    
}

.favorites-dish__img {
   border: 14px solid var(--accent-color);
   padding: 21px 20px; 
}

.favorites-dish__img-pictur {
    width: 268px;
    height: 268px;
}
.nomobil {
    display: flex;
}
}
@media screen and(min-width: 1279px) {
    
       
    .favorites-dish__img {
       border: 16px solid var(--accent-color);
       padding: 25px 24px;  
    
    }
    
    .favorites-dish__img-pictur {    
        width: 315px;
        height: 315px;
    }
}