.footer {
    background-image: url(../images/phone-footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 60px;
    
}


.sub__policy {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: var(--primary-text-color);
}

.footer-wrapper {
    text-align: center;
}

.footer-wrapper__list{
    display:flex;
    column-gap: 32px;
    justify-content: space-around;
    margin-bottom: 40px;
}

.footer-wrapper__link,
.sub__policy-link {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    color: var(--secondary-accent-color);
}

.footer-copyright{
    font-weight: 400;
    font-size: 10px;
    line-height:1;
    color: var(--primary-text-color);
    padding-bottom: 60px;
}

.menu-footer{
display: flex;
margin-bottom: 40px;
}

.site-nav-footer__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: #000000;}

.logo-footer{
margin-right: 81px;}

.site-nav-footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.sub__policy{
margin-top: 20px;}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .footer {
        background-image: url('../images/phone-footer-bg@2x.png');
    }
}

   
@media screen and (min-width:768px) {
    .footer {
           background-image: url(../images/tablet-footer-bg.png);
           background-position: center;
           background-repeat: no-repeat;
           background-size: 100% 100%;
           margin-top: 100px;
       }
    
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
    }

    .footer-wrapper__list {
        display: flex;
        column-gap: 20px;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .footer-wrapper__item{
    display: flex;
    }

    .site-nav-footer {
        flex-direction: row;
        margin-left:0px;
    }

    .logo-footer {
        margin-right: 104px;
    }

    .sub__policy {
        margin-top: 12px;
    }
}

@media (min-device-pixel-ratio: 2) and (min-width:768px),
(-webkit-min-device-pixel-ratio: 2) and (min-width:768px),
(min-resolution: 192dpi)and  (min-width:768px),
(min-resolution: 2dppx) and (min-width:768px){
    .footer {
        background-image: url('../images/tablet-footer-bg@2x.png');
    }
}


@media screen and (min-width:1280px) {
    .footer {
        background-image: url(../images/desk-footer-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 118px;
    }
  
    .logo-footer {
        margin-right: 148px;
    }

    .footer-coneiner-desktop{
    display: flex;
    justify-content: space-between;
}

}

@media (min-device-pixel-ratio: 2) and (min-width:1280px),
(-webkit-min-device-pixel-ratio: 2) and (min-width:1280px),
(min-resolution: 192dpi) and (min-width:1280px),
(min-resolution: 2dppx) and (min-width:1280px) {
    .footer {
        background-image: url('../images/desk-footer-bg@2x.png');
    }
}