@media screen and (max-width: 767px) {
  .order-btn {
    display: none;
  }
}
.page-header {
  background-color: var(--primery-white-color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.page-header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mobile-menu {
  position: absolute;
  overflow: hidden;
  width: 130px;
  top: 50px;
  right: 20px;
  background: var(--primery-white-color);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-btn {
  display: block;
  line-height: 0;
  border: 0;
  padding: 0;
  background-color: var(--primary-white-color);
}

.mobile-menu-btn__icon {
  fill: var(--secondary-accent-color);
  transition: fill var(--transition-dur-and-func);
}

.mobile-menu-btn:hover .mobile-menu-btn__icon,
.mobile-menu-btn:focus .mobile-menu-btn__icon {
  fill: var(--accent-color);
}

.mobile-menu__close-btn {
  position: absolute;
  top: 4px;
  right: 4px;
  display: block;
  border: 0;
  padding: 0;
  line-height: 0;
  background: var(--primery-accent-color);
}

.site-nav-mobile__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.1875;
  color: #000000;
}

.site-nav-mobile__link:hover,
.site-nav-mobile__link:focus {
  background-color: var(--primary-accent-color);
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .mobile-menu {
    display: none;
  }
  .mobile-menu-btn {
    display: none;
  }

  .page-header__container {
    justify-content: start;
  }

  .order-btn {
    margin-left: auto;
    transition: background-color var(--transition-dur-and-func);
  }
  .order-btn:hover,
  .order-btn:focus {
    background-color: #b5ff00;
  }
}
