.hero{
    .container{
        position: relative;
    }
    &__title{
        margin-top: 60px;
        margin-bottom: 28px;
    }
    &__description{
        margin-bottom: 28px;
    }
}
.galery{
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 89px;
    .galery__photo-frame{
        width: 320px;
        height: 320px;
        border: 14px solid var(--accent-color);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.hero__btn-icon{
    height: 28px;
    width: 34px;
}
.hero__left-btn{
    // box-sizing: border-box;
    position: absolute;
    z-index: 99;
    top: 50%;
    transform: translate(-50%, -50%);
    // width: 100%;
    // height: 100%;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
}
.hero__right-btn{
    position: absolute;
    z-index: 99;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

@media screen and (max-width: 480px){
    .hero{
        &__title{
            max-width: 280px;
        }
        &__description{
            max-width: 280px;
        }
    }
}
@media screen and (min-width: 768px) {
    .galery__photo-frame {
        background-image: url('../images/tablet-hero-galery-1.jpg');
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .galery__photo-frame {
            background-image: url('../images/tablet-hero-galery-1@2x.jpg');
        }
    }
    .hero{
        &__title{
            margin-bottom: 44px;
            width: 537px;
            line-height: 120%;
        }
        &__description{
            width: 336px;
            margin-bottom: 40px;
        }
    }
     .galery {
        visibility: visible;
    }
}
