@media screen and (max-width: 479px) {
  .section {
    &__container {
      max-width: 320px;
      margin: 0 auto;
    }
    &__title {
      margin-top: 60px;
      margin-bottom: 28px;
    }
    &__description {
      margin-bottom: 28px;
    }
  }

  .offerings {
    background-image: url(../images/offerings/mobile/bgi/offerings-bgi.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 40px;
    &-list {
      &__wrapper {
        display: block;
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 8px;
        margin-bottom: 8px;
      }

      &__icon {
        fill: var(--secondary-accent-color);
      }

      &__title {
        margin-bottom: 16px;
      }

      &__description {
        margin-bottom: 28px;
      }
    }

    &__link {
      color: #000000;
      &-wrapper {
        display: inline-flex;
        align-items: center;
      }

      &-arrow {
        padding-bottom: 0;
      }
    }

    &-btn {
      margin-right: 24px;
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 479px),
  (-webkit-min-device-pixel-ratio: 2) and (max-width: 479px),
  (min-resolution: 192dpi) and (max-width: 479px),
  (min-resolution: 2dppx) and (max-width: 479px) {
  .offerings {
    background-image: url(../images/offerings/mobile/bgi/offerings-bgi@2x.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 40px;
  }
}

@media screen and (min-width: 480px) {
  .section {
    &__title {
      margin-top: 60px;
      margin-bottom: 28px;
    }
    &__description {
      margin-bottom: 28px;
    }
  }

  .offerings {
    background-image: url(../images/offerings/mobile/bgi/offerings-bgi.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 40px;
    &-list {
      &__wrapper {
        display: block;
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 50%;
        padding: 8px;
        margin-bottom: 8px;
      }

      &__icon {
        fill: var(--secondary-accent-color);
      }

      &__title {
        margin-bottom: 16px;
      }

      &__description {
        margin-bottom: 28px;
      }
    }

    &__link {
      color: #000000;
      &-wrapper {
        display: inline-flex;
        align-items: center;
      }
    }

    &-btn {
      margin-right: 24px;
      transition: border-color var(--transition-dur-and-func);
      &:hover,
      &:focus {
        border-color: #597d00;
      }
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px),
  (min-resolution: 192dpi) and (min-width: 480px),
  (min-resolution: 2dppx) and (min-width: 480px) {
  .offerings {
    background-image: url(../images/offerings/mobile/bgi/offerings-bgi@2x.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .offerings {
    background-image: url(../images/offerings/tablet/bgi/offerings-bgi.jpeg);
  }
  .section__image {
    margin-top: 90px;
  }
  .section__wrapper {
    margin-right: 210px;
    margin-bottom: 40px;
  }
  .offerings-list {
    display: flex;
    column-gap: 116px;
    margin-bottom: 37px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .offerings {
    background-image: url(../images/offerings/tablet/bgi/offerings-bgi@2x.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) {
  .offerings {
    background-image: url(../images/offerings/desktop/bgi/offerings-bgi.jpeg);

    &-list {
      column-gap: 67px;
      margin-bottom: 32px;

      &__description {
        margin-bottom: 0;
      }
    }

    &__link {
      &-wrapper {
        display: none;
      }
    }
  }

  .section {
    padding-bottom: 43px;
    &__container {
      display: flex;
    }

    &__content {
      display: block;
      margin-top: 100px;
      margin-left: 90px;
    }

    &__wrapper {
      margin-top: 120px;
      margin-right: 98px;
    }

    &__image-wrapper {
      margin-top: 20px;
    }
  }
}
