.subscribe-btn {
    margin-top: 20px;
    margin-left: 178px;
}

.subscribe {
    position: relative;

    &__banana-img {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-50%, -50%);
            z-index: 1000;
        }
    &__description {
        margin-bottom: 43px;
    }
}

@media screen and (min-width: 480px) {
    .subscribe__banana-img {
        transform: translate(-100%, -50%);
    }
}

@media screen and (min-width: 768px) {
    .subscribe__description{
        margin-bottom: 24px;
        line-height: 150%;
    }

    .subscribe-btn {
        margin-top: 0px;
        margin-left: 0px;
    }

    .subscribe__banana-img {
        transform: translate(-10%, -70%);
    }

    .subscribe__title{
        font-weight: 700;
        font-size: 42px;
    }
}


@media screen and (min-width: 1280px) {
    .subscribe__banana-img {
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 0;
    }
    .subscribe__description{
    width: 656px;}
}